﻿
@{
    ViewBag.Title = "UserView";

}
<h2>UserView</h2>


@model List<WebApplication1.Models.User>
@foreach (var instance in @Model)
{
    <p>
        Name: @instance.name Age: @instance.age
    </p>
}